*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(55, 55, 55);
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
}
h1{
    padding: 1em;
    text-align: center;
}

button{
    background-color: aquamarine;
    border: none;
    height: 6vh;
    width: 40vw;
    font-size: 24px;
}